<footer>
    <div class="brand">
        <img src="images/alxa-logo.png" alt="Alxa Logo" />
        <h2>AlxaJS</h2>
        <p>
            <span>By</span>
            <a href="https://swordax.netlify.app" target="_blank">Swordax Sy</a>
        </p>
    </div>
    <div class="contacts">
        <a class="copy-contact">
            <div class="copy-message">Copied!</div>
            <span> <i class="fas fa-at"></i> swordax.sy </span>
        </a>
        <a href="https://discord.com/users/465453058667839499/" target="_blank">
            <span>
                <li class="fab fa-discord"></li>
                Swordax#5756
            </span>
        </a>
        <a href="https://www.github.com/SwordaxSy" target="_blank">
            <span>
                <li class="fab fa-github"></li>
                SwordaxSy
            </span>
        </a>
        <a href="mailto:swordax.sy@gmail.com" target="_blank">
            <span> <i class="fas fa-envelope-square"></i> Swordax Sy </span>
        </a>
    </div>
</footer>
