<head>
    <!-- Browser Tab -->
    <title>
        AlxaJS <% if (page !== "home") { %> | <%= page[0].toUpperCase() +
        page.substring(1) %> <% } %>
    </title>
    <link rel="icon" href="images/alxa-logo.png" />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
        name="description"
        content="Multi-task simple lightweight JavaScript library"
    />
    <meta
        name="keywords"
        content="Alxa, Swordax, Swordax Sy, Sy, JavaScript, JavaScript Library, Library, JS, Alxa.js, AlxaJS"
    />
    <meta name="author" content="Swordax" />
    <!-- Fonts & Libraries -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Almarai&display=swap"
        rel="stylesheet"
    />
    <script
        src="https://kit.fontawesome.com/b62196c3bd.js"
        crossorigin="anonymous"
    ></script>
    <!-- Style Files -->
    <base href="/" />
    <link rel="stylesheet" href="styles/css/style.css" />
    <!-- Script Files -->
    <script src="scripts/script.js" defer></script>
</head>
