<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include("partials/head") %>

    <!-- Body -->
    <body>
        <!-- Header -->
        <%- include("partials/header") %>

        <!-- About Page Body -->
        <main class="about">
            <!-- About Alxa -->
            <section class="about-alxa">
                <h2 class="about-title">About AlxaJS</h2>
                <p class="about-article">
                    AlxaJS is a small lightweight JavaScript library that sums
                    up basic but time-consuming to write tasks in a set of
                    functions grouped in a code file, all you have to do is to
                    include this file in your project directory and you can
                    easily start using the pre-written Alxa functions.
                </p>
                <p class="about-article">
                    Alxa.js contains a number of useful daily needed functions &
                    methods that can come in handy when working on projects of
                    different sizes and types. Alxa doesn't target a specific
                    type of task or project environment, instead it is
                    multi-task and does many handy things whenever needed.
                </p>
                <p class="about-article">
                    Getting started with AlxaJS is pretty simple and straight
                    forward, and due to it's small size, including it in your
                    project will consume no space and will cause no performance
                    or speed issues. AlxaJS also provides
                    <a href="/docs">documentation</a> that you can use as a
                    reference to know what you can do with AlxaJS.
                </p>
            </section>

            <!-- Alxa Name -->
            <section class="about-name">
                <h2 class="about-title">Where did the name Alxa come from?</h2>
                <p class="about-article">
                    The name "Alxa" derives from the name of the polymath
                    <a
                        href="https://en.wikipedia.org/wiki/Muhammad_ibn_Musa_al-Khwarizmi"
                        >Muhammad Ibn Musa Al-Khwarizmi</a
                    >, the original inventor of the science of Algorithms, which
                    is widely and mainly used in mathematics, programming, data
                    science, and a lot of other fields. In fact, the word
                    "Algorithm" is as well derived from the name of the great
                    mathematician "Al-Khwarizmi".
                </p>
            </section>

            <!-- AlxaJS Founder -->
            <section class="about-founder">
                <h2 class="about-title">AlxaJS Founder</h2>
                <p class="about-article">
                    AlxaJS was found by
                    <a href="https://swordax.netlify.app">Swordax Sy</a>, a
                    young web developer. The project is constantly developed and
                    maintained by him, and it was found as a hobby project in
                    the very beginning.
                </p>
            </section>
        </main>

        <!-- Footer -->
        <%- include("partials/footer") %>
    </body>
</html>
